@page
@model Tippy.Pages.Projects.EditModel

@{ ViewData["Title"] = "Edit project"; }

<h1 class="title">Edit project</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Project.ID" />
    <div class="field">
        <div class="control">
            <label asp-for="Project.Name" class="label"></label>
            <input asp-for="Project.Name" class="input" />
            <span asp-validation-for="Project.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="Project.Chain" class="label"></label>
        <div class="control">
            <div class="select">
                <select asp-for="Project.Chain" asp-items="Html.GetEnumSelectList<Tippy.Core.Models.Project.ChainType>()"></select>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label asp-for="Project.NodeRpcPort" class="label"></label>
            <input asp-for="Project.NodeRpcPort" class="input" />
            <span asp-validation-for="Project.NodeRpcPort" class="text-danger"></span>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label asp-for="Project.NodeNetworkPort" class="label"></label>
            <input asp-for="Project.NodeNetworkPort" class="input" />
            <span asp-validation-for="Project.NodeNetworkPort" class="text-danger"></span>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label asp-for="Project.IndexerRpcPort" class="label"></label>
            <input asp-for="Project.IndexerRpcPort" class="input" />
            <span asp-validation-for="Project.IndexerRpcPort" class="text-danger"></span>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label asp-for="Project.LockArg" class="label"></label>
            <input asp-for="Project.LockArg" class="input" />
            <span asp-validation-for="Project.LockArg" class="text-danger"></span>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input type="submit" value="Save" class="button is-primary" />
        </div>
        <div class="control">
            <a asp-page="Index" class="button is-link is-light">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
