@page
@model Tippy.Pages.NodeLog.IndexModel
@using Tippy.Ctrl 
@{
    ViewData["Title"] = "Logs";
}

@if (Model.ActiveProject != null && ProcessManager.IsRunning(Model.ActiveProject))
{
    <div class="level">
        <div class="level-left">
            <h1 class="title has-text-primary">Logs</h1>
        </div>
        <div class="level-right">
            <form method="post">
                <button asp-page="./OpenFolder" class="button is-success">
                    <span class="icon">
                        <i class="far fa-folder-open"></i>
                    </span>
                    <span>Open log folder</span>
                </button>
            </form>

        </div>
    </div>

    <input type="hidden" id="project-id" value="@Model.ActiveProject.Id" />
    <div class="log-box" id="log-box"></div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_SignalrScriptsPartial"); }
    }
}
else
{
    <Partial name="_NoActiveProject" />
}
