<form method="get" class="field has-addons">
    <div class="control" style="width: 580px;">
        <input class="input" name="id" placeholder="Search by hash or number" />
    </div>
    <div class="control">
        <button asp-page="./Details" class="button is-primary is-primary-button">
            <span class="icon">
                <i class="fas fa-search"></i>
            </span>
        </button>
    </div>
</form>
