html {
    height: 100%;
}

body {
    height: 100%;
}

a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: hsl(171, 100%, 41%);
}

.explorer-container {
    border: none;
    height: calc(100vh - 100px);
    width: 100%;
}

.log-box {
    overflow-y: scroll;
    height: calc(100vh - 160px);
    border: solid 1px #ccc;
    padding: 20px;
}
