@page
@model Tippy.Pages.ExplorerModel
@{
    ViewData["Title"] = "Explorer";
}

@if (Model.ActiveProject != null)
{
    <iframe src="/" class="explorer-container" title="Explorer"></iframe>
}
else
{
    <div class="notification is-warning">
        <p class="ml-3">
            <span class="icon has-text-danger">
                <i class="fas fa-exclamation-triangle fa-3x"></i>
            </span>
        </p>
        <p>Current project/chain is not running. Please <a asp-page="/Home/Index">start</a> and select a project first.</p>
    </div>
}
