@page
@{
    ViewData["Title"] = "Logs";
}

<h1 class="title">Logs</h1>

<div class="log-box" id="log-box"></div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_SignalrScriptsPartial"); }
}
