@page
@model Tippy.Pages.Sudt.DetailsModel
@{ ViewData["Title"] = "Sudt"; }

<h1 class="title">Sudt Script Args <span style="font-size:70%;">@Model.SudtScript.Args</span></h1>

<div class="box address-box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h2>Type Script</h2>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Code Hash</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="input">
                                @Model.SudtScript.CodeHash
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Args</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="input">
                                @Model.SudtScript.Args
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Type</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="input">
                                @Model.SudtScript.HashType
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box transaction-box">
    <h2>Transactions</h2>
    <div id="txs">Loading...</div>
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" style="display: none;">Previous</a>
    <a class="pagination-next" style="display: none;">Next</a>
    <ul class="pagination-list"></ul>
</nav>

@section scripts{
    <script>
        var page = 1;
        const pageSize = 15;
        function loadTxs() {
            $("#txs").load("/Sudt/Transactions?sudtScriptArgs=@Model.SudtScript.Args&pageSize=" + pageSize + "&page=" + page, function () {
                if (page > 1) {
                    $(".pagination-previous").show();
                } else {
                    $(".pagination-previous").hide();
                }
                if ($("#txs .tx").length >= pageSize) {
                    $(".pagination-next").show();
                } else {
                    $(".pagination-next").hide();
                }
           });
        }
        $(function () {
            $(".pagination-previous").click(function (e) {
                page -= 1;
                loadTxs();
                e.preventDefault();
            });
            $(".pagination-next").click(function (e) {
                page += 1;
                loadTxs();
                e.preventDefault();
            });

            loadTxs();
        });
    </script>
}
