<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Tippy</title>
    <link rel="stylesheet" href="~/css/bulma.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
    </style>
</head>
<body>
    <div class="container is-fluid main-container">
        <div class="columns main-columns">
            <div class="column is-narrow side-menu-container has-background-light">
                <aside class="menu side-menu mt-6">
                  <p class="menu-label">
                    General
                  </p>
                  <ul class="menu-list">
                    <li><a asp-page="/Home">Dashboard</a></li>
                    <li><a asp-page="/Explorer">Explorer</a></li>
                    <li><a asp-page="/Log">Logs</a></li>
                  </ul>
                  <p class="menu-label">
                    Configuration
                  </p>
                  <ul class="menu-list">
                    <li><a asp-page="/Config/Index">Config</a></li>
                  </ul>
                </aside>
            </div>

            <div class="column">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
