<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Tippy</title>
    <link rel="stylesheet" href="~/lib/mazipan/mazipan.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
    </style>
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
        <div class="container is-fullhd">
            <div class="navbar-brand">
                <span class="navbar-item">
                  <i class="fab fa-connectdevelop fa-2x has-text-success"></i>
                </span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a asp-page="/Home/Index" class="navbar-item">Dashboard</a>
                    <a asp-page="/Explorer" class="navbar-item">Explorer</a>
                    <a asp-page="/NodeLog/Index" class="navbar-item">Logs</a>
                    <a asp-page="/Projects/Index" class="navbar-item">Projects</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a asp-page="/Config/Index" class="navbar-item">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container is-fullhd pt-5">
        @if (ViewData["ErrorMessage"] is string errorMessage && errorMessage.Length > 0)
        {
            <div class="notification is-danger">
                <p class="m-3">
                    <span class="icon has-text-white">
                        <i class="fas fa-exclamation-triangle fa-3x"></i>
                    </span>
                </p>
                <p>@errorMessage</p>
            </div>
            ViewData.Remove("ErrorMessage");
        }

        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
