@page
@model Tippy.Pages.Transactions.DetailsModel
@{ ViewData["Title"] = "Transaction"; }

<h1 class="title">Transaction <span style="font-size:70%;">@Model.TransactionDetail.TransactionHash</span></h1>
