@page
@model Tippy.Pages.Debugger.DetailsModel
@{ ViewData["Title"] = "Debugger"; }

<div class="level">
    <h1 class="title level-left">Debugger</h1>

    <div class="lavel-right">
        <form asp-page-handler="close" method="post">
            <div class="field">
                <div class="control">
                    <button class="button is-link is-light">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="columns">
    <div class="column is-10 is-offset-1">
        <form method="post">
            <div class="field">
                <label class="label">Fill in the path of a binary to replace this script.</label>
                <div class="control">
                    <input asp-for="FilePath" class="input is-info" type="text" placeholder="Absolute File Path" />
                </div>
            </div>
            <div class="field">
                <label class="label">CKB-VM version to use. See <a href="https://github.com/nervosnetwork/rfcs/pull/236">here</a> for more details.</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="ScriptVersion" asp-items="Model.ScriptVersions"></select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button asp-page="./Debugger/Details" class="button is-link is-light">Restart</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="columns">
    <iframe class="column is-10 is-offset-1" height="640" id="debugger-frame-1"></iframe>
</div>

<div class="columns" style="margin-top: 20px;">
    <iframe class="column is-10 is-offset-1" height="320" id="debugger-frame-2"></iframe>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $("#debugger-frame-1").attr("src", "http://" + window.location.hostname + ":7681");
        $("#debugger-frame-2").attr("src", "http://" + window.location.hostname + ":7682");
    </script>
}
